.site-content {
    text-align: center;

    .img-contact {
        width: 100%;
        height: 450px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background:linear-gradient(rgba(30,32,34,0.4),rgba(15,18,21,0.4)),url(../assets/contacts.jpg) center;
        background-size: 100% 100%;

        @include mq ("phone", min) {
            background-size: cover;
        }
    }
}

#contact-title {
    margin-top: 5em;

    @include mq("tablet-small", min) {
        margin-top: 3em;
    }

    @include mq("tablet-wide", min) {
        margin-top: 7em;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: left;

    @include mq("tablet", min) {
        flex-direction: row;
    }

    article{
        color:  var(--text-white-color, white);
        width: 100%;
        font-size: 1.2em;
        padding: 2em;
        text-align: center;
        
        .fas {
            padding-right: 0.5rem;
            color: var(--colr-red, red);
        }

        @include mq("tablet", min) {
            width: 50%;
            padding: 5em;
        }
    }

    form {
        width: 100%;
        margin: auto;
        text-align: center;

        input {
            width: 80%;
        }
        
        textarea {
            width: 80%;
            height: 200px;
        }

        input, textarea {
            padding: 0.5rem;
            margin: 0.5rem;
            background: var(--background-color, gray);
            border: 2px solid black;
            outline: none;
            color:  var(--text-white-color, white);
        }

        input:focus,
        textarea:focus {
            background:  var(--text-white-color, white);
            color: black;
            border-color: var(--colr-red, red);
        }

        button {
            display: block;
            padding: 1rem 3rem;
            background: var(--colr-red, red);
            color:  var(--text-white-color, white);
            border: none;
            margin: auto;
            border-radius: 10px;
        }

        @include mq("tablet", min) {
            width: 50%;

            input {
                width: 45%;
            }
            
            textarea {
                width: 93%;
            }
        }
    }
}

.google-map {
    margin-top: 5rem;

    iframe {
        width: 100%;
        height: 500px;
    }
}