.site-content {
    .img-home {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background:linear-gradient(rgba(30,32,34,0.2),rgba(15,18,21,0.2)),url(../assets/Home-dark.jpg) center;
        background-size: 100% 100%;
        @include mq ("phone", min) {
            background-size: cover;
        }
    }
}

.home-page {
    margin-top: 5rem;
    padding: 0px 15px;
    text-align: center;

    #home-title {
        font-size: 1.2em;
        text-shadow: 4px 5px 3px rgba(0,0,0, 1);

        @include mq ("phablet", min) {
            font-size: 1.6em;
        }

        @include mq ("tablet", min) {
            font-size: 1.8em;
        }

        @include mq ("tablet", min) {
            font-size: 1.8em;
        }

        @include mq ("desktop", min) {
            font-size: 2.4em;
        }
    }

    p {
        margin: 2rem 0 0.5rem 0;
    }

    .button {
        padding: 1rem;
        margin: 1rem;
        background: var(--color-red, red);
        color:  var(--text-white-color, white);
        font-weight: 900;
        border: none;
        outline: none;
        border-radius: 2rem;
    }
}