.security {
    background:linear-gradient(rgba(30,32,34,0.4),rgba(15,18,21,0.4)),url(../assets/driving.jpg) center;
}

.master {
    background:linear-gradient(rgba(30,32,34,0.4),rgba(15,18,21,0.4)),url(../assets/master-driving-1.jpg) center;
}

.drift {
    background:linear-gradient(rgba(30,32,34,0.4),rgba(15,18,21,0.4)),url(../assets/drift-img1.jpg) center;
}

.rally {
    background:linear-gradient(rgba(30,32,34,0.4),rgba(15,18,21,0.4)),url(../assets/Rally.jpg) center;
}

.description{
    padding: 0 2rem;
}

.listing {
    display: flex;
    flex-direction: column;
    text-align: left;

    .info-training{
        width: 100%;
        padding: 0 2rem;
    }

    .info-curse {
        width: 100%;
        padding: 2rem 0;

        li {
            display: flex;
            
            .fas {
                color: var(--color-red, red);
                padding-right: 5rem;
                width: 20%;
                height: 100%;
                margin: 1rem 0;
                font-size: 3rem;
                text-align: center;
            }
        }
    }

    @include mq("tablet", min) {
        flex-direction: row;

        .info-training{
            width: 50%;
            padding: 0px 2rem;
        }

        .info-curse {
            width: 50%;
        }
    }

    @include mq("desktop", min) {
        .info-training{
            width: 60%;
        }

        .info-curse {
            width: 40%;
        }
    }
}