.training {
    background:linear-gradient(rgba(30,32,34,0.4),rgba(15,18,21,0.4)),url(../assets/drift-img2.jpg) center;
}

.listing {
    margin: 7rem 2rem 1rem 2rem;
    
    ul.posts {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        grid-auto-flow: dense;

        @include mq("tablet", min){
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            overflow: hidden;
            border-radius: 2rem; 

            &.span-c2 {
                grid-column: span 2;
                grid-row: span 2;
            }        
        }
        a {
            .title-training {
                position: absolute;
                z-index: 1000;
                width: 65%;
                margin-top: 5px;
                text-align: center;
                text-shadow: 2px 0px 9px rgba(0, 0, 255, 1);
                
                @include mq("phone", min){
                    width: 75%;
                }

                @include mq("phablet", min){
                    width: 80%;
                }

                @include mq("tablet", min){
                    width: 40%;
                }

                @include mq("tablet-wide", min){
                    width: 45%;
                }
            }
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            transition: all .6s;

            &:hover{
                transform: scale(1.2);
                
            }
        }
    }
}