<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
	</head>
	<body>
		<div class="site">
			<header class="site-header">
				<div class="site-branding">
					<p class="site-title">
						<a href="{{ site.baseurl }}/">{{ site.title }}</a>
					</p>
				</div>

				<nav class="navigation">
					<ul>
						<li><a href="{{ site.baseurl }}/">Начало</a></li>
						<li><a href="{{ site.baseurl }}/about/">За нас</a></li>
						<li><a href="{{ site.baseurl }}/gallery/">Галерия</a></li>
						<li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
					</ul>
				</nav>
			</header>
			<main class="site-content">
			
				{{content}}
			
			</main>
			<footer class="site-footer">
			
			</footer>
		</div>
	</body>
</html>